<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>KnowType</string>
  <key>CFBundleExecutable</key>
  <string>KnowTypeInputMethodApp</string>
  <key>CFBundleIconFile</key>
  <string>KnowTypeInputMethodIcon.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.knowtype.inputmethod.KnowType</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>KnowType</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>ComponentInputModeDict</key>
  <dict>
    <key>tsInputModeListKey</key>
    <dict>
      <key>com.knowtype.inputmethod.KnowType.Mode</key>
      <dict>
        <key>TISInputSourceID</key>
        <string>com.knowtype.inputmethod.KnowType.Mode</string>
        <key>TISIntendedLanguage</key>
        <string>zh-Hans</string>
        <key>tsInputModeCharacterRepertoireKey</key>
        <array>
            <string>zh-Hans</string>
            <string>Latn</string>
        </array>
        <key>tsInputModeDefaultStateKey</key>
        <true/>
        <key>tsInputModeIsVisibleKey</key>
        <true/>
        <key>tsInputModeMenuIconFileKey</key>
        <string>KnowTypeInputMethodIcon.tiff</string>
        <key>tsInputModeAlternateMenuIconFileKey</key>
        <string>KnowTypeInputMethodIcon.tiff</string>
        <key>tsInputModePaletteIconFileKey</key>
        <string>KnowTypeInputMethodIcon.tiff</string>
        <key>tsInputModePrimaryInScriptKey</key>
        <true/>
        <key>tsInputModeScriptKey</key>
        <string>smUnicodeScript</string>
      </dict>
    </dict>
    <key>tsVisibleInputModeOrderedArrayKey</key>
    <array>
      <string>com.knowtype.inputmethod.KnowType.Mode</string>
    </array>
  </dict>
  <key>InputMethodConnectionName</key>
  <string>com.knowtype.inputmethod.KnowType_Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>KnowTypeInputController</string>
  <key>InputMethodServerDelegateClass</key>
  <string>KnowTypeInputController</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>LSHasLocalizedDisplayName</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSSupportsAutomaticTermination</key>
  <false/>
  <key>NSSupportsSuddenTermination</key>
  <false/>
  <key>TISIntendedLanguage</key>
  <string>zh-Hans</string>
  <key>TISInputSourceID</key>
  <string>com.knowtype.inputmethod.KnowType</string>
  <key>tsInputMethodIconFileKey</key>
  <string>KnowTypeInputMethodIcon.tiff</string>
  <key>tsInputMethodCharacterRepertoireKey</key>
  <array>
    <string>zh-Hans</string>
    <string>Latn</string>
  </array>
</dict>
</plist>
